/node_modules

.env
.env.production

deploy.sh
deploy.staging.sh

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json*
yarn.lock*

sftp.json
.idea
.vscode
*.tar.gz
.phpunit.result.cache
.npm

.eslintcache
/tmp
/build