.ml-10 {
    margin-left: 50px;
}

.bg-gray-2 {
    background-color: var(--bg-strong-color);
}

.advance-search-form {
    margin-top: 10px;
    gap: 2;
    border: 1px solid var(--bg-strong-color);
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.75);
    font-size: 1.1rem;
    padding: 25px 50px 10px;
}

.advance-search-form__item {
    flex: 1;
}

.text-black-placeholder input::placeholder{
    color: black !important;
}