
.section-body{
    background-color: #FFFFFF;
    padding-top: 10px;
    border-radius: 12px;
    margin: 10px 0 10px 0;
}
.title{
    margin-left: 70px;
}
.section-wrapper{
    margin-top: 50px;
}
.line{
    margin : 20px 0px;
}
.line-detail{
    margin : 40px 0px;
}
.edit-button{
    position: absolute;
    right: 20px;
    color: #5D5D5D;
}
.line-title{
    font-size: 15px;
    width: 200px;
    text-align: right;
    margin-right: 40px;
    color: #5D5D5D;
}
.infor-detail{
    width: 300px;
    font-size: 15px;
}

hr{
    margin-bottom:20px;
}
h6{
    margin-left: 70px;
}